body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

section {
    background-color: #DDDDDD;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid #ddd;
}

section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 0;
}